* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #868F90;
    background-size: cover;
    background-attachment: fixed;
}

.botones {
    margin-top: 50px;
}

.acordeon {
    color: black;
}

.card-header {
    border-radius: 10px;
    font-style: bolder;
    font-size: 20px;
    color: #000000;
}

#repos {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

#cv {
    height: 35px;  
    width: 35px;
    margin-right: 10px;
}

#contact {
    height: 35px;  
    width: 35px;
    margin-right: 10px;
}

footer {
    background-color: #2A2828;
    color: white;
}