* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #868F90;
    background-size: cover;
    background-attachment: fixed;
}

.botones {
    margin-top: 50px;
}

.acordeon {
    color: black;
}

.card-header {
    border-radius: 10px;
    font-style: bolder;
    font-size: 20px;
    color: #000000;
}

#repos {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

#cv {
    height: 35px;  
    width: 35px;
    margin-right: 10px;
}

#contact {
    height: 30px;  
    width: 30px;
    margin-right: 10px;
}

.container{
    width: 90%;
    border-radius: 3px;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

#form_correo {
    display: block;
    font-size: 16px;
}

#correo-index {
    border: 2px;
    padding: 10px;
    background-clip: padding-box;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

footer {
    background-color: #2A2828;
    color: white;
}

#foot{
    color: white;   /* Color del texto */
    font-style: bold;   /* Estilo de la letra (Negritas) */
    font-size: 15px;    /* Tamaño de la letra */
}